<section class="funds-modal">
    <h3>Add funds</h3>
    <form name="cncFunds">
        <ul class="clearfix">
            <li>
                <input type="text" placeholder="Master fund code" ng-model="model.fundCode"/>
            </li>
            <li>
                <input type="text" placeholder="master fund Type" ng-model="model.fundType" ng-required='true'/>
            </li>
            <li>
                <input type="number" placeholder="Allocation" ng-model="model.allocationPercentage" ng-required='true' />
            </li>
            <li>
                <input type="text" placeholder="proportional Type" ng-model="model.proportionalType" ng-required='true' />
            </li>
            <li class="clearfix">
                <input type="date" placeholder="yyyy/mm/dd" ng-model="model.startDate"  ng-required='true'/>
                <i class ="fi-calendar"></i>
            </li>
            <li class="clearfix">
                <input type="date" placeholder="yyyy/mm/dd" ng-model="model.endDate" ng-required='true' />
                <i class ="fi-calendar"></i>
            </li>

        </ul>
        <button class="button" type="submit" ng-click="add()" ng-disabled="cncFunds.$invalid" >Add & Save</button>
        <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
    </form>
</section>


